body{
	background-image:url(1.jpg);
	height:800px;
	width:2000px;
	
	}
	
h1{
	
	margin-left:900px;
	margin-top:-30px;
	font-size:70px;
	color: #fff;
	text-shadow: 0 0 10px #fff,0 0 15px #fff;
	
	
	}
	
p{
	font-size:30px;
	color: #fff;
	text-shadow: 0 0 10px #fff,0 0 15px #fff;
	
	}
	
#group{
	margin-left:200px;
	margin-top:200px;
	}
	

#group button {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #d133ed;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #da3df6 5%, #b51ed0 100% );
	background:-ms-linear-gradient( top, #da3df6 5%, #b51ed0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#da3df6', endColorstr='#b51ed0');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #da3df6), color-stop(100%, #b51ed0) );
	background-color:#da3df6;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #b115cd;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ee97fe;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ee97fe;
 	box-shadow:inset 1px 1px 0px 0px #ee97fe;
}
#group button:hover {
	background:-moz-linear-gradient( center top, #b51ed0 5%, #da3df6 100% );
	background:-ms-linear-gradient( top, #b51ed0 5%, #da3df6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b51ed0', endColorstr='#da3df6');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #b51ed0), color-stop(100%, #da3df6) );
	background-color:#b51ed0;
}
#group button:active {
	position:relative;
	top:1px;
}


#group .btn1{
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #ffaa22;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	background:-ms-linear-gradient( top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffec64), color-stop(100%, #ffab23) );
	background-color:#ffec64;
	color:#333333;
	display:inline-block;
	text-shadow:1px 1px 0px #ffee66;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #fff6af;
 	-moz-box-shadow:inset 1px 1px 0px 0px #fff6af;
 	box-shadow:inset 1px 1px 0px 0px #fff6af;
	margin-top:10px;
}
#group .btn1:hover {
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	background:-ms-linear-gradient( top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffab23), color-stop(100%, #ffec64) );
	background-color:#ffab23;
}
#group .btn1:active {
	position:relative;
	top:1px;
}
