
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
	#initArea,#chat,#MessageArea,#userList{
	padding-left:500px;
	padding-bottom:20px;
	border:1px red solid;
	margin-top:10px;
	}
	#contents{
	margin:0,auto;
}
	
    </style>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>

<body>
<div class="contents">
  <div id="initArea">
    <h1>MyName</h1>
    <input type="text" id="name_input" style="width:200px;" />
    <button type="button" id="input_name">name input</button>
  </div>

<div id="userList">
<h1>UsersList</h1>


</div>

<script type="text/javascript">
	



</script>
        


<div id="chat">
 <h1>input user_name</h1>
    <input type="text" id="megToName_input" style="width:30px;" />
 <h1>input message</h1>
    <input type="text" id="data_input" style="width:30px;" />
    <button type="button" id="c2s">send</button>
</div>

<div id="MessageArea">
	<div id="talk">
<h1>MessageArea</h1>
	</div>
</div>
</div>

<a href="/test">test</a>
 <button type="button" id="chat_box">chat</button>
<script type="text/javascript">

</script>



	
  <script type="text/javascript">
    var chat_boxs = {};
	var chat_boxs_mypage = {};
	var Id_myself="";
	var partnerid="";
	 var my_name = "";
	var usersView = "";
	 var megView = '';
	var meg_box='';
	var right = 1;
	 var ioSocket = io.connect( "http://localhost:3000" ); // ?`???b?g?T?[?o?[?(II$B@\A (B

	// ?T?[?o?[???$Bp?(I$$B~@7 (Bf?[?^?$B?b(I/$B<j(I,$BHe&=(B???
    ioSocket.on( "connect", function() {
	} ); // ?(IZ$BA (B
    ioSocket.on( "disconnect", function() {} ); // ?(IX$BCG(B

 // ?T?[?o?[???$Bp@W/(B???C?A???g?(IV$B$NA (B?$Bqx(I($B~@G (B?
    ioSocket.on( "show_name", function( results ) {
//	alert(results);  
	for(var i=0; i< results.length; i++){
		if(results[i].socket_id){//id$Bea8e!bea(I#$Bea^e#ie`!P(Bnline$Bea8e#oea6e#k(B
			usersView +="<li><a id = '"+ results[i].socket_id + "'style='color:red;'  href='' onclick='getid_buildBox(this);return false;' >"+results[i].name+"</a></li>";
		}else{
   			usersView +="<li>"+results[i].name+"</li>";
		}
	}
	
 	document.getElementById("userList").innerHTML = usersView;
	usersView='';
});

ioSocket.on( "show_message", function(data,results) {
		alert(results[2].message);
		alert(results.length);
		 var meg_temp='';
		for(var i=0; i<results.length; i++){
      
		meg_temp += "<p>"+ results[i].nameA +":"+ results[i].message + "</p>";
		}




		chat_boxs[data.myid] = meg_temp;
		chat_boxs[data.yourid] = meg_temp;
//		alert(data.myid);
	//	alert('yourid is:'+data.yourid);
	//	alert(chat_boxs[data.yourid]);
	for(var key in chat_boxs){//其他人各自的box里表示聊天记录
		var showmeg = chat_boxs[key]
		alert('your idd is :',key);
		document.getElementsByClassName(key)[0].innerHTML = showmeg;
		}
	} );

	ioSocket.on("c_build_chat_box",function(chat_ids){
		partnerid = chat_ids.myid;
		builed_chatbox(chat_ids.myid,chat_ids.myname);
	});	

	ioSocket.on("getid_myself",function(id_myself){
	Id_myself = id_myself;
//	alert('id is'+Id_myself);
	});	

  

	$("#c2s").click( function(){
	var data = {};
    var name = document.getElementById("megToName_input").value;
    var message = document.getElementById("data_input").value;
	data.name = name;
	data.message = message;
	data.myname = my_name;
//	alert(name);

	 ioSocket.emit("s2c", data);

	});


	$("#input_name").click( function(){
        var name = document.getElementById("name_input").value;
	my_name = name;
	 ioSocket.emit("get_name", name);
	});

/*--------------*/
function builed_chatbox(id,name){

if(!($("."+id+"").length)){//boxが存在するかとうかを判定する,存在しない場合のみで処理する
	var box = document.createElement('div');
    box.className = id;
	box.style.width = 200;
	//box.style.height = 200;
	box.style.position = 'fixed';
	box.style.bottom = 0;
	box.style.left = right * 30;
	box.style.border = "1px red solid";

	var h1Node = document.createElement('p');
	var text = document.createTextNode('talk with '+name);
	h1Node.appendChild(text);
	box.appendChild(h1Node);


document.getElementById("MessageArea").appendChild(box);

//	document.getElementById("MessageArea").innerHTML = document.getElementById("MessageArea").innerHTML + meg_box;
	chat_boxs[id]='';//boxを作るごとに、chat_boxsに登録する
	right++;
	}
	}

function getid_buildBox(element){
	var chat_ids={};
	var id = element.id;
	var name = element.innerHTML;
   alert(name);
    partnerid = id;
//	alert("id_myself is "+Id_myself);
//	alert("partnerid is "+id);

	chat_ids.myid = Id_myself;
	chat_ids.myname = my_name;
	chat_ids.partnerid = id;
	chat_ids.partname = name;
    

	if(id != Id_myself){//自分と自分でchatしないよう
	builed_chatbox(id,name);
	ioSocket.emit("s_build_chat_box",chat_ids);
	}
	};


       </script>
</body>
</html>